/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.profile-header {
  transform: translateY(5rem);
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
  background: linear-gradient(to right, #654ea3, #eaafc8);
  min-height: 100vh;
}
.txt-deco a {
  text-decoration: none;
}

/* .dropdown_menu{ 
    padding: 10px 20px 10px 20px ;
    font-weight: bold;
    border-radius: 15px;
} */
.btn {
  font-weight: bold;
}
.dropdown_menu {
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  border-radius: 15px;
}
.btn {
  box-shadow: 5px 5px 5px 5px gray;
  border-radius: 15px;
  color: gray;
}

@media (max-width: 769px) {
  .txt-deco {
    font-size: 10px;
    margin: 5px 5px 5px 5px;
  }
}
