
/* eidt navbar */
/* .navbar-dark{
    background: transparent;
} */
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-dark .navbar-brand img{
    height: 47px;
}

.carousel-item{
  height: 550px;
  background-size: cover;
}
 /* للعودة الى بداية الصفحة  */

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .gototop.active {
    opacity: 1;
    visibility: visible;
  }
  .gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }
  .gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
  }
  .gototop a:hover,
  .gototop a:active,
  .gototop a:focus {
    text-decoration: none;
    outline: none;
  }
  .form-row,
  .form-group{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center
  }
  .form-group{
      width: 50%;
  }
  .form-control{
   
    width: 75%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b3c5d6;
    border-radius: 1.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_img{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
small{
  display: block;
}
/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
#message2{
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}


/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid::before {
  position: relative;
  left: -5px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid::before {
  position: relative;
  left: -5px;
  content: "✖";
}